<html>
	<title>Patient List</title>
	<h1>Patient List</h1>	
	<body>
	<table border="1.0pt">
	<tr>
		<th >Patient name</th>
		<th>phonenumber</th>
		<th>disease</th>
		<th>subcategory</th>
	</tr>
	{% for patient in patients %}
		<tr>
		<td> {{ patient.patientname }} </td>
		<td> {{ patient.phonenumber }} </td>
		<td> {% for disease in patient.diseasename.all %}
			{{ disease }}
			{% endfor %}
		 </td>
		<td> {% for subcategory in patient.subcategory.all		%} {{ subcategory }}
					{% endfor %}</td>
		</tr>
	{% endfor %}	
	</table>
	</body>
</html>